@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@100;400;900&display=swap');

/* HTML ELEMENTS */

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-bottom: 15px;
    font-family: 'Montez', cursive;
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-weight: 600;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}


/* WEBSITE BACKGROUND */

#background {
    background: linear-gradient(270deg, #12c2e9, #c471ed, #f64f59);
    background-size: 600% 600%;

    animation: bg 30s ease infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* BOX FOR EACH TOPIC */

.BigBox {
    padding: 5% 10%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.BigBox:hover {
    transform: scale(1.004);
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.6);
}

/* CONTAINERS */

.container-fluid {
    padding: 0% 7% 3% 7%;
}

/* NAVBARS */

.navbar .container-fluid {
    padding-bottom: 0;
}

.navbardropdownitem {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: auto;
    padding: 10px 30px;
}

.navbar-brand img {
    padding: 10px 15px;
    height: 100px;
}

.navbar-toggler {
    border: none;
    margin: 0 45px;
}

@media (max-width: 360px) {
    .navbar-brand {
        margin: auto;
    }

    .navbar-toggler {
        margin: auto;
    }
}

.nav-link:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

/* HOME PAGE  */
.main {
    padding: 10% 30%;
}

.me {
    height: auto;
    width: 50%;
    border-radius: 90%;
    padding-bottom: 15px;
}

@media (max-width:700px) {

    .container-fluid {
        margin: 0;
        padding: 3% 10px;
    }

    .BigBox {
        padding: 3% 5%;
    }

    .me {
        height: auto;
        width: 30%;
    }

    .main {
        padding: 10% 0%;
    }

    .main p {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    .main h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        text-align: justify;
    }

    #footer p,
    #contact-me p {
        text-align: center;
    }
}

/* EDUCATION  */

#education .card {
    background-color: transparent;
    border: solid black;
}

#education .education-gap {
    margin: 20px auto;
}

#education .card:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.258);
}

.subject {
    text-align: left;
}

/* SKILLS */

.skill-img {
    width: 80%;
    max-height: 80%;
}

.skill-img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* CONTACT ME  */
#contact-me a i {
    font-size: 3rem;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.774);
}

#contact-me a i:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0.1s;
    color: rgba(0, 0, 0);
}

/* FOOTER  */
#footer {
    text-align: center;
    padding: 10px 30px 30px;
}

#footer .container-fluid {
    padding: 0;
}
